body {
	font-family: "Raleway", Calibri, sans-serif;
	text-align: center;
	margin: 0;
	background: #f9f9f9;
}

.rules { padding: 15px 0}
.rules h2 { margin: 0; }

div, canvas, aside {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#game {
	margin: 0 auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#score,
#game-over {
	font-weight: 700;
	position: relative;
}

#score {
	color: #FFF;
	font-size: 30px;
	margin-bottom: -40px;
	line-height: 1;
	padding: 10px 20px 0 0;
	text-align: right;
}

#game-over {
	font-size: 42px;
	margin-top: -180px;
	color: #f00;
	background: #ccc;
	padding: 30px 0;
}


/* Social buttons */
.social-share {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	position: fixed;
	padding: 10px 5px;
	border-radius: 4px;
	border: 1px solid #eee;
	right: 20px;
	top: 150px;
	width: 88px;
	background: #fff;
	box-shadow: 0 0 4px #ddd;
}